
<div class="row text-center">
    <div class="col">
        <h1>Contador Padre</h1>
        <h2>{{contador}}</h2>

    </div>
</div>
<div class="row text-center">
    <div class="col">
        <button class="btn btn-primary" (click)="incrementCounter()">Incrementar</button>
        <button class="btn btn-info" (click)="decrementCounter()">Decrementar</button>
        
    </div>
</div>
 <hr>
<div class="row text-center">
    <div class="col">
       <!-- <app-hijo [contador]="contador" (cambioContador)="cambioContador($event)" > </app-hijo> -->
       <app-hijo></app-hijo>
    </div>
</div>

<router-outlet></router-outlet>
 